*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root.dark {
  --bg-color: #2e2b2bf3;
  --color: #ccc;
  --bg-display-screen: rgba(110, 167, 110, 0.226);
  --dark-bx-shadow: 1px 1px 1px 1px #0a0a0ab0;
}

:root.light {
  --bg-color: #ccc;
  --color: #2e2b2bf3;
  --dark-bx-shadow: 1px 1px 1px 1px #0a0a0ab0;
  --bg-display-screen: #7979799c;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}

#header-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 1rem;
  #app-heading {
    font-size: clamp(1.5rem, 2vw, 2.6rem);
  }

  .dark-light-toggle {
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--dark-bx-shadow);
    color: var(--color);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--bg-color);
  }
}


#calculator {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  box-shadow: var(--dark-bx-shadow);
  .section {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    #display-screen {
      width: 180px;
      height: 50px;
      border-radius: 0.8rem;
      background-color: var(--bg-display-screen);
      box-shadow: var(--dark-bx-shadow);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 1rem;
      color: var(--color);
      .previous-display {
        font-size: 0.9rem;
        font-weight: bold;
      }

      .current-display {
        font-size: 1.1rem;
      }
    }

    button {
      width: 50px;
      height: 50px;
      border-radius: 1rem;
      border: none;
      background-color: var(--bg-color);
      box-shadow: var(--dark-bx-shadow);
      color: var(--color);
    }

    button:active {
      box-shadow: none;
    }
  }
}

#footer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}